<div class="container pt-3">
  <div class="row">
    <div class="col-md-12">
    
      <div class ="row">  
        <div class="col-md-5">
          <div class="text-white bg-info text-center mb-5">
            <h4>商品一覧</h4>
          </div>
        </div>
        <div class="col-me-7 ">
          <%= link_to new_admin_item_path,class:"fa-solid fa-circle-plus fa-2x ml-5" do %>
          <% end %>
        </div>
      </div>
      
      <div class = "row pt-3">
        <div class = "col-md-1">
          商品ID
        </div>
        <div class = "col-md-3">
          商品名
        </div>
        <div class = "col-md-2">
          税抜価格
        </div>
        <div class = "col-md-2">
          ジャンル
        </div>
        <div class = "col-md-2">
          ステータス
        </div>
      </div>
      
      <% @items.each do |item| %>
        <div class = "row pt-3">
          <div class = "col-md-1">
            <%= item.id %>
          </div>
          <div class = "col-md-3">
            <%= link_to item.name,admin_item_path(item) %>
          </div>
          <div class = "col-md-2">
            <%= number_to_currency(item.price, unit: "¥", format: "%u %n", precision: 0) %>
          </div>
          <div class = "col-md-2">
            <%= item.genre.name %>
          </div>
          <div class = "col-md-2">
            <%= item.is_active ? '販売中':'販売停止中' %>
          </div>
        </div>
      <% end %>
      
      <div class = "row pt-3">
        <div class = "col-md-7 offset-5">
          <%= paginate @items %>
        </div>
      </div>
    
    </div>
  </div>
</div>