<div class="container">
  
  <div class="row row-cols-auto pt-5">
    <div class="col-md-2">
      <p>ジャンル検索</p>
        <% @genres.each do |genre| %>
      <ul>
        <%= link_to genre.name,items_path(genre_id: genre.id) %>
      </ul>
        <% end %>
    </div>
    
    <div class="col-md-8">
      <div class = "text-center"> 
        <p>
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のＥＣサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<BR>
          購入には会員登録が必要になります。
        </p>
        <%= image_tag 'TOPCAKE.jpg' %>
      </div>
    </div>
  </div>
  
  <div class ="row pt-5 offset-1">
    <h4 class="md-3">
      新着商品
    </h4>
  </div>
  
  <div class ="row pt-3 offset-1">
    <% @items.reverse_each do |item| %>
      <div class ="col-sm-3">
        <ul>
          <%= link_to item_path(item) do %>
          <%= image_tag item.get_image(100,100), class:"offset-md-1 top-img" %>
          <% end %>
        </ul>
        <ul>
          <% if item.is_active == true %>
            <%= item.name %>
          <% else %>
            <p>売り切れ</p>
            <%= item.name %>
          <% end %>
        </ul>
        <ul>
          <%= number_to_currency(item.price, unit: "¥", format: "%u %n", precision: 0) %>(税込)
        </ul>
      </div>
    <% end %>
    
    <div class = "col-sm-9">
      <%= link_to "すべての商品を見る", items_path %>
    </div>
  </div>
</div>