<div class="container pt-3">
 <div class="row">
  <div class="col-md-12">
  
  <div class ="row">  
   <div class="col-md-5">
    <div class="text-white bg-info text-center mb-5">
     <h4>
      <%= @customer.last_name %><%= @customer.first_name %>さんの注文履歴
     </h4>
    </div>
   </div>
  </div>
  
  <div class = "row pt-1">
   <div class = "col-md-4">
    購入日時
   </div>
   <div class = "col-md-4">
    注文個数
   </div>
   <div class = "col-md-4">
    注文ステータス
   </div>
  </div>
  
  <div class = "row pt-3">
   <% @orders.each do |order| %>
   <div class = "col-md-4">
    <%= link_to order.created_at.strftime("%Y-%m-%d %H:%M") ,admin_order_path(order) %>
   </div>
   <div class = "col-md-4">
    <% @total = 0 %>
    <% order.order_details.each do |order_detail| %>
    <% @total += order_detail.amount %>
    <% end %>
    <%= @total %>
   </div>
   <div class = "col-md-4">
    <%= order.status_i18n %>
   </div>
   <% end %>
  </div>
  
  </div>
 </div>
</div>