<div class="container">
  <div class="row row-cols-auto">
    <div class="col-md-12 ">
      
      <div class="row pt-5">
        <div class="col-md-5">
          <div class="text-white bg-warning mb-5 text-center">
            <h4>配達先登録/一覧</h4>
          </div>
        </div>
      </div>
      
      <div class="row pb-5">
        <div class="col-md-3">
          <p>郵便番号（ハイフンなし)</p>
          <p>住所</p>
          <p>宛名</p>
        </div>
        
        <div class="col-md-7">
          <%= form_with model:@address do |f| %>
          <div class="col-md-5">
            <%= f.text_field :postal_code,class: 'form-control'%>
          </div>
          <div class="col-md-12 mt-2">
            <%= f.text_field :address,class: 'form-control'%>
          </div>
          <div class="col-md-5 mt-2">
            <%= f.text_field :name,class: 'form-control'%>
          </div>
        </div>
        <div class="col-md-2 align-self-end">
          <%=f.submit '新規登録',class:"btn btn-success btn-lg" %>
          <% end %>
        </div>
      </div>
      
      <table class = "table-bordered">
        <tr>
          <th class="col-md-2">
            郵便番号
          </th>
          <th class="col-md-5">
            住所
          </th>
          <th class="col-md-3">
            宛名
          </th>
          <th class="col-md-2">
          </th>
        </tr>
        
        <% @addresses.each do |address| %> 
        <tr>  
          <td>
            <%= address.postal_code %>
          </td>
          <td>
            <%= address.address %>
          </td>
          <td>
            <%= address.name %>
          </td>
          <td>
            <%= link_to "編集する",edit_address_path(address),class:"btn btn btn-success btn-sm" %>
            <%= link_to "削除する",address_path(address), method: :delete,class:"btn btn btn-danger btn-sm" %>
          </td>
        </tr>
        <% end %>
        
      </table>
    
    </div>
  </div>
</div>