<div class="container">
 <div class="row pt-5">
 
  <div class="col-md-2 pt-3">
   <p>ジャンル検索</p>
   <% @genres.each do |genre| %>
    <ul>
     <%= link_to genre.name,items_path(genre_id: genre.id) %>
    </ul>
   <% end %>
  </div>
  
  <div class="col-md-9 offset-1">
   <div class="rowpt-5"> 
    <div class="col-md-4 text-white bg-warning mb-3 text-center" >
     <h4>商品一覧</h4>
     <p>
      (全 <%= Item.count %> 件)
     </p>
    </div>
   </div>
   
   <div class ="row">
    <% @items.reverse_each do |item| %>
     <div class="col-md-3">
      <ul>
       <%= link_to item_path(item) do %>
        <%= image_tag item.get_image(100,100), class:"top-img" %>
       <% end %>
      </ul>
      <ul>
       <% if item.is_active == true %>
        <%= item.name %>
       <% else %>
        <p>
         <%= item.name %> (売り切れ)
        </p>
       <% end %>
      </ul>
      <ul>
       <%= number_to_currency(item.with_tax_price, unit: "¥", format: "%u %n", precision: 0) %>
      </ul>
     </div>
    <% end %>
   </div>
   
   <div class = "row" >
    <div class="col-md-7 offset-5">
     <%= paginate @items %>
    </div>
   </div>
  </div> 

 </div>
</div>